<%= link_to '< Forums List', forums_path, class: 'btn btn-small' %> |
<%= link_to 'Edit Forum', edit_forum_path(@forum), class: 'btn btn-small' %> 

<h4>Forum: <%= @forum.name %></h4>
<p id="notice"><%= notice %></p>

