<h2>All Forum Posts</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_posts.each do |forum_post| %>
      <% forum = forum_post.forum %>
      <tr>
        <td>
            <%= link_to 'Edit', edit_forum_post_path(forum_post), class: 'btn btn-mini' %>
            <%= link_to forum_post.name, forum_post %>
        </td>
        <td>
            <% if forum %>
              <%= link_to forum.name, forum %>
            <% end %>
        </td>
        <td><%= link_to 'Destroy', forum_post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>