// Place all the styles related to the ForumPost controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-head {
    margin-top: 2em;
}
.post-name {
    font-weight: bold;
    font-size: 110%;
}
.post-body {
    background-color: #EEE; 
    border: 1px solid black; 
    padding: 1em;
}
.indent-1 {
  margin-left: 1em;
}
.indent-2 {
  margin-left: 2em;
}

.indent-3 {
  margin-left: 3em;
}